{% extends 'base.html' %}
{% load static %}


{% block title %}
    Contacto - contratodeobrapublica.cl
{% endblock title %}
    

{% block header %}
{% include 'includes/header.html' %}
{% endblock header %}

{% block content %}
<style>
    .contact p {
        font-size: 1.2rem;
    }
</style>
<div id="main">
    <div class="inner">
        {% include 'includes/head_content.html' %}
        <div class="contact">
            <h2>Datos de contacto</h1>
            <h3>Telefono: 9 93 45 68 69</h3>
            <h3>Email: gilda@contratodeobrapublica.cl</h3>
            <h2 style="text-align: center;">Quien lee esta pagina web: Dirige <br>
            Quien lee esta pagina web: Decide</h2>
            <p style="font-size: 1.1rem;">
                Lo mas importante que usted recibe no viene en una caja, no se puede encargar, no tiene numero de serie
                y ni siquiera aparece en una factura.
            </p>
            <p>
                Pero llega de todas maneras cada vez que Ud. solicita la Asesoria Profesional en "Contratos de Obra Pública"
            </p>
            <p>
                <strong>¿Qué es lo que Ud. recibe cuando solicita esta Asesoría? <br></strong>
                Fijese en los efectos que ha ocasionado. La respuesta se refleja en sus rostros
            </p>
            <p>
                "El tiempo que he invertido en formación y práctica, en organización, crecimiento y experiencia interpretativa, puede ser uno de
                sus más valiosos activos, para extremar el celo funcionario y garantizar el principio del debido resguardo de los recursos públicos
                y desarrollar su labor acorde a los principios de responsabilidad, eficiencia, eficacia, probidad y control entre otros. 
                Ley 18.575 art5° y 3° inciso segundo."
            </p>
        </div>
    </div>
</div>
{% include 'includes/sidebar.html' %}
{% endblock content %}