{% extends 'base.html' %}
{% load static %}

{% block header %}
{% include 'includes/header.html' %}
{% endblock header %}

{% block content %}
<div id="main">
    <div class="inner">
        {% include 'includes/head_content.html' %}
        <form method="post" action="#">{% csrf_token %}
            <h3>Envianos un Mensaje :D</h3>
            <p>{{ form.full_name }}</p>
            <p>{{ form.email }}</p>
            <p>{{ form.mensaje }}</p>
            <div class="row gtr-uniform">
                <div class="col-12">
                    <ul class="actions">
                        <li><input type="submit" value="Send Message" class="primary" /></li>
                        <li><input type="reset" value="Reset" /></li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
</div>
{% include 'includes/sidebar.html' %}
{% endblock content %}