{% extends 'base.html' %}
{% load static %}


{% block header %}
{% include 'includes/header2.html' %}
{% endblock header %}

{% block content %}

<div id="main">
    <div class="inner">

        <!-- Header -->
        {% include 'includes/head_content.html' %}

        <!-- Content -->

            <section>
                <header class="main">
                    <h1>{{ content.title }}</h1>
                </header>
                {% if content.thumbnail_img %}
                    <span class="image main"><img src="{{ content.thumbnail_img.url }}" alt="" /></span>
                {% endif %}

                <p>{{ content.content | safe }}</p>
                
                <hr class="major" />

            </section>

            <section>
            </section>

    </div>
</div>

{% include 'includes/sidebar.html' %}
{% endblock content %}