{% extends 'base.html' %}
{% load static %}


{% block title %}
    {{ content.title }} - contratodeobrapublica.cl
{% endblock title %}
    
{% block header %}
{% include 'includes/header.html' %}
{% endblock header %}

{% block content %}

<div id="main">
    <div class="inner">

        <!-- Header -->
        {% include 'includes/head_content.html' %}

        <!-- Content -->

            <section>
                <header class="main">
                    <h1>{{ content.title }}</h1>
                </header>
                {% if content.thumbnail_img %}
                    <span class="image main"><img src="{{ content.thumbnail_img.url }}" alt="" /></span>
                {% endif %}
                <div style="font-size:1.4em">
                    {{ content.content | safe }}
                </div>

            </section>
    </div>
</div>

{% include 'includes/sidebar.html' %}
{% endblock content %}