{% extends 'base.html' %}
{% load static %}

{% block title %}
    Temas Importantes - contratodeobrapublica.cl
{% endblock title %}

{% block header %}
{% include 'includes/header.html' %}
{% endblock header %}


{% block content %}

<div id="main">
    <div class="inner">

        <!-- Header -->
        {% include 'includes/head_content.html' %}

        <!-- Content -->
        <h2>Temas Importantes</h2>
        
        {% for imp in important_list %}
            
            <div class="row">
                <div class="col-4 col-12-small col-4-medium">
                    <span class="image fit">
                        <img src="{{ imp.thumbnail_img.url }}" alt="" />
                    </span>
                </div>
                <div class="col-8 col-12-small col-8-medium">
                    <a href="{% url 'content_app:content-detail' imp.slug %}"><h3>{{ imp.title }}</h3></a>
                    <p>{{ imp.resume | truncatechars:300 }}</p>
                </div>
            </div>
        {% endfor %}
        <div style="display: flex; justify-content: center;">
            {% if is_paginated %}
                <ul class="pagination">
                    
                    {% if page_obj.has_previous %}
                        <li><a href="?page={{ page_obj.previous_page_number }}" class="button">Prev</a></li>
                    {% endif %}

                    {% for page in paginator.page_range %}
                        {% if page == page_obj.number %}
                            <li><a href="#" class="page active">{{page_obj.number}}</a></li>
                            {% else %}
                                <li><a href="?page={{ page }}" style="margin: 1rem;">{{ page }}</a></li>
                        {% endif %}
                    {% endfor %}
                    
                    {% if page_obj.has_next %}
                        <li><a href="?page={{ page_obj.next_page_number }}" class="button">Next</a></li>
                    {% endif %}
                        
                </ul>
            {% endif %}
        </div>
            
    </div>
</div>

{% include 'includes/sidebar.html' %}
{% endblock content %}
