<header id="header">
    <h5 style="font-family: 'Libre Baskerville', serif; font-style:italic; color: #3d4449;">"Hay una labor mucho más importante que la de fallar pleitos, y es la de hacer que no los haya". Confucio</h5>
    <ul class="icons">
        <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="#" class="icon brands fa-youtube"><span class="label">Youtube</span></a></li>
    </ul>
</header>