{% load static %}
<header>
    <div class="titular" style="width: 100%; background: url({% static 'img/header.jpg' %}); height: 30vh; text-align: center;">
        <h1 style="padding-top: 60px;">Contrato de Obra Pública</h1>
        <div>
            <ul style="display: flex; list-style: none; justify-content:space-around; padding: 1em;">
                {% for ct in navbar %}
                    <li >
                        <h3><a href="{% url 'content_app:content-detail' ct.slug %}">{{ ct.title }}</a></h3>
                    </li>
                {% endfor %}
                
                <li >
                    <h3><a href="{% url 'home_app:contact' %}">Contacto</a></h3>
                </li>
            </ul>
        </div>
    </div>
</header>