{% load static %}
<header>
    <div class="titular" style="width: 100%; background: url({% static 'img/header.jpg' %}); height: 30vh; text-align: center;">
        <h1 style="padding-top: 60px;">Contrato de Obra Pública</h1>
        <div>
            <ul style="display: flex; list-style: none; justify-content:space-around; padding: 1em;">
                <li>
                    <h3><a href="#">Rol del Estado y Sus Principios</a></h2>
                </li>
                <li>
                    <h3><a href="#">Rol de la CGR y TdeCP</a></h3>
                </li>
                <li>
                    <h3><a href="#">Acerca de Mi</a></h3>
                </li>
                <li >
                    <h3><a href="#">Contacto</a></h3>
                </li>
            </ul>
        </div>
    </div>
</header>